.main-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#input{
    width: 50vw;
    height: 20vw;
    font-family: 'system-ui';
    font-size: 20px;
    border: 5px outset #6E7A90;
}
.keyboard-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.keyboard-str{
    display: flex;
    align-content: stretch;
}
.keyboard-btn{
    background-color: #131515;
    border: none;
    color: #fff;
    font-size: 20px;
    font-family: 'system-ui';
    padding: 5px 15px;
    line-height: 1.5em;
    flex-grow: 1;
    margin: 5px;
    border-radius: 5px;
}
#caps{
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}
.space{
    width: 58%;
}
.pressed{
    outline: none;
    background-color: #F14B5F;
    border-radius: 15px;
    animation: 0.3s ease keyDown;
    /*transition: border-radius 0.2s ease-in;*/
}
.keyup{
    outline: none;
    border-radius: 5px;
    animation: 0.3s ease keyUp;
}

@keyframes keyDown {
    from {
        background: #131515;
        border-radius: 5px;
    }
    to {
        background: #F14B5F;
        border-radius: 15px;
    }
}
@keyframes keyUp {
    from {
        background: #F14B5F;
        border-radius: 15px; 
    }
    to {
        background: #131515;
        border-radius: 5px;
    }
}